.html{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: 700;
}
.form{
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    gap: 1.5em;
    border: 5px solid #4af;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
input{
    padding: 15px;
    margin: 10px;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1.5px solid rgb(102, 94, 94);
    width: 92%;
}
.Funciona{
    display: grid;
    place-items: center;
}
.Boton{
    width: 105%;
    background-color: black;
    color: white;
}